doctype html
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  title Document
  style.
    .main-container {
      display: block;
    }
    .container {
      font-family: 'Raleway', sans-serif;
    }
.main-container
  .container
    h3 código de validación 
    h1 #{validationCode}